body {
  background-color: lightgrey;
  margin: 0 auto;
}

header {
  background-color: dodgerblue;
  height: 100px;
  text-align: center;
  padding-top: 20px;
  position: fixed;
  width: 100%;
}

h1 {
  color: white;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 300;
}

h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  text-align: center;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

p {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 20px;
}

td {
  text-align: center;
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  padding: 10px;
  width: 33%;
}

th {
  text-align: center;
  border-right: 1px solid darkgrey;
  border-left: 1px solid darkgrey;
  padding: 10px;  
}

table.contact-info {
  margin: 0 auto;
  table-layout: fixed;
  width: 60%;
}

img {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 10%;
  padding: 5px;
}

footer {
  background-color: black;
  height: 50px;
  text-align: center;
  padding-top: 20px;
}
